<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="MyBatisCodeHelperDatasource">
    <option name="projectProfile">
      <ProjectProfile>
        <option name="javaMapperPackage" value="com.springcloudalibabafeign.userconsumer.mapper" />
        <option name="javaMapperPath" value="$PROJECT_DIR$/spring-cloud-albaba-user-consumer/src/main/java" />
        <option name="javaModelPackage" value="com.springcloudalibabafeign.userconsumer.entity" />
        <option name="javaModelPath" value="$PROJECT_DIR$/spring-cloud-albaba-user-consumer/src/main/java" />
        <option name="lastDatabaseCrudChooseModuleName" value="spring-cloud-albaba-user-consumer" />
        <option name="moduleNameToPackageAndPathMap">
          <map>
            <entry key="spring-cloud-albaba-user-consumer">
              <value>
                <UserPackageAndPathInfoByModule>
                  <option name="javaMapperPackage" value="com.springcloudalibabafeign.userconsumer.mapper" />
                  <option name="javaMapperPath" value="$PROJECT_DIR$/spring-cloud-albaba-user-consumer/src/main/java" />
                  <option name="javaModelPacakge" value="com.springcloudalibabafeign.userconsumer.entity" />
                  <option name="javaModelPath" value="$PROJECT_DIR$/spring-cloud-albaba-user-consumer/src/main/java" />
                  <option name="xmlPackage" value="mapper" />
                  <option name="xmlPath" value="$PROJECT_DIR$/spring-cloud-albaba-user-consumer/src/main/resources" />
                </UserPackageAndPathInfoByModule>
              </value>
            </entry>
            <entry key="spring-cloud-alibaba-consumer">
              <value>
                <UserPackageAndPathInfoByModule>
                  <option name="javaMapperPackage" value="com.springcloudalibaba.integral.mapper" />
                  <option name="javaMapperPath" value="E:\spring-cloud-alibaba-example\spring-cloud-alibaba-integral\src\main" />
                  <option name="javaModelPacakge" value="com.springcloudalibaba.integral.entity" />
                  <option name="javaModelPath" value="E:\spring-cloud-alibaba-example\spring-cloud-alibaba-integral\src\main" />
                  <option name="javaServiceInterfacePath" value="$PROJECT_DIR$/spring-cloud-alibaba-consumer/src/main/java" />
                  <option name="javaServicePath" value="$PROJECT_DIR$/spring-cloud-alibaba-consumer/src/main/java" />
                  <option name="xmlPackage" value="mapper" />
                  <option name="xmlPath" value="E:\spring-cloud-alibaba-example\spring-cloud-alibaba-integral\src\main\resources" />
                </UserPackageAndPathInfoByModule>
              </value>
            </entry>
            <entry key="spring-cloud-alibaba-integral">
              <value>
                <UserPackageAndPathInfoByModule>
                  <option name="javaMapperPackage" value="com.springcloudalibaba.integral.mapper" />
                  <option name="javaMapperPath" value="$PROJECT_DIR$/spring-cloud-alibaba-integral/src/main/java" />
                  <option name="javaModelPacakge" value="com.springcloudalibaba.integral.entity" />
                  <option name="javaModelPath" value="$PROJECT_DIR$/spring-cloud-alibaba-integral/src/main/java" />
                  <option name="javaServiceInterfacePath" value="$PROJECT_DIR$/spring-cloud-alibaba-integral/src/main/java" />
                  <option name="javaServicePath" value="$PROJECT_DIR$/spring-cloud-alibaba-integral/src/main/java" />
                  <option name="xmlPackage" value="mapper" />
                  <option name="xmlPath" value="$PROJECT_DIR$/spring-cloud-alibaba-integral/src/main/resources" />
                </UserPackageAndPathInfoByModule>
              </value>
            </entry>
          </map>
        </option>
        <option name="tableGenerateConfigs">
          <map>
            <entry key="test:integral">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="integral_id" />
                  <option name="javaModelName" value="Integral" />
                  <option name="moduleName" value="spring-cloud-alibaba-integral" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="test:level">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="level_id" />
                  <option name="javaModelName" value="Level" />
                  <option name="moduleName" value="spring-cloud-albaba-user-consumer" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
            <entry key="test:user">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="uid" />
                  <option name="javaModelName" value="User" />
                  <option name="moduleName" value="spring-cloud-albaba-user-consumer" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
          </map>
        </option>
        <option name="useLomBokOnModel" value="true" />
        <option name="xmlMapperPackage" value="mapper" />
        <option name="xmlMapperPath" value="$PROJECT_DIR$/spring-cloud-albaba-user-consumer/src/main/resources" />
      </ProjectProfile>
    </option>
  </component>
</project>